localhost {
    reverse_proxy node-app:3000
}

lucad.ml {
	reverse_proxy node-app:3000
}

lucad987.ml {
    reverse_proxy node-app:3000
}

www.lucad987.ml {
    reverse_proxy node-app:3000
}

api.lucad987.ml {
    respond "api works"
}
